.row{
    text-align: center;
    margin-top: -100px;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #0e153a;
    text-align: center;
}

.login_box .user_box{
    position: relative;
}    
